


/* Here Google Font */

.inter-normal{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
}








/* More than used common class start here */

.primary-color{
    font-weight: 500px;
    font-size: 20px;
    color: #474747;
}

.secondary-color{
    font-weight: 600px;
    font-size: 18px;
    color: #757575;
}

.bg-color{
    background-color: #FFF8F3;
}



/* button style  */
.btn-style{
    border-radius: 5px;
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 36px 19px 36px;
    border: none;
}

/* More than used common class end here */










/* header start here */

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/*  navbar style  start here*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 150px 0 183px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    margin-right: 80px;

}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
}


.r-style{
    color:orange;
}

/* navbar style end here */








/* Intro part start here */

.intro{
    display: flex;
    margin: 0 10px 0 183px;
}

.intro-description{
    margin-top: 230px;
    /* width: 589px;
    height: 380px; */
}

.sec-greeting{
    font-weight: 600px;
    font-size: 45px;
    color: #474747;
    margin-bottom: 10px;
}

.sec-title{
    font-weight: bold;
    font-size: 85px;
    color: #181818;
    margin-bottom: 10px;
}

.sec-description{
    line-height: 30px;
    margin-bottom: 10px;
}

.btn-gap{
    margin-right: 15px;
}

.profile-img{
    width: 584px;
    height: 540px;
}

/* Intro part end here */

/* header end here */






/* main section start here */

main{
    max-width: 1140px;
    margin: 0 183px;
}

/* bio-data start here */
.bio-data{
    margin: 116px 0 144px 0;
    padding: 145px 157px 117px 156px;
    background-color: #FFFFFF;
}

.title{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}


.bio-data-description{
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.bio-data-information{
    display: flex;
    padding: 0 8px;
}

.bio-data-info-all{
    margin-right: 35px;
}

.bio-data-info-details{
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #757575;
}

.bio-data-info-address{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #474747;
}


/* bio-data end here */




/* skill section start here */

.skill-des{
    line-height: 30px;
    text-align: center;
    padding: 0 115px;
    margin-bottom: 50px;
}

.skills{
    display: flex;
    gap: 24px;
}

.skills-details{
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 6px 1px 0 #000000;
    padding: 30px;

}

.skills-name{
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0px 20px 0px;
}

.skills-des{
    font-weight: 600px;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}


/* skill section end here */




/* main section end here */